body {
background-color: #c40f0f;
margin: 0;
}

/* Comentario */

/* IMPORTANT!

You can only have one item
with the same id in at the same HTML page

#header {border: thin solid black; }
 */

 nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    }
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }

.grid-container {
  border: thin solid black;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'right right content content content content'
    'footer footer footer footer footer footer';
    grid-gap: 10px;
}

#header { grid-area: header; }
#right { grid-area: right; }
#content { grid-area: content; }
#footer { grid-area: footer; }

.box {
 border: thin solid black;
}
